html,
body {
    height: 100%;
    margin: 0;
}

.form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.form__area {
    width: 420px;
    flex: 1 1 auto;
    word-wrap: break-word;
    overflow-y: scroll;
}

.form__comment {
    flex: 0 0 auto;
}

.form__area {
    width: 420px;
    flex: 1 1 auto;
    word-wrap: break-word;
}

.form__comment {
    flex: 0 0 auto;
    margin-bottom: 20px;
}

.form__description {
    padding-bottom: 0;
    margin-bottom: 7px;
}

.comment {
    padding-bottom: 10px;
}