.superSection__item {
  display: flex;
  flex-direction: column;
  width: 500px;
  max-height: 2000px;
}

.superSection__img {
  width: 100%;
}

.slidecontainer {
  justify-self: flex-end;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 7px;
}
