body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
}

.section1 {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.section2 {
    display: flex;
    justify-content: center;
}

.section3 {
    margin-top: 100px;
    text-align: center;
    font-size: 70px;
}

.animated-number_number_nr {
    font-weight: 600;
}