html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Montserrat", Arial, sans-serif;
    background-color: rgb(243, 224, 200);
}

.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    width: 70%;
}

.form__area {
    flex: 1 1 auto;
    word-wrap: break-word;
    overflow-y: scroll;
}

.form__notearea {
    flex: 0 0 auto;
    padding-bottom: 40px;
}

.form__textarea {
    margin-bottom: 10px;
    width: 99.5%;
}

.form__button {
    display: flex;
    justify-content: space-between;
}

.form__error {
    color: red;
}

button {
    padding: 20px;
    width: 150px;
}