section {
    padding-left: 20px;
}

.result {
    display: inline-block;
}

.row {
    display: flex;
}

.column_color {
    background-color: blanchedalmond;
}

.container {
    margin-bottom: 50px;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo {
    width: 30%;
}